@import "../../node_modules/.pnpm/tailwindcss@4.1.13/node_modules/tailwindcss/dist/lib.d.mts";

@theme {
    --color-white: #ffffff;
    --color-black: #191A1C;
    --color-primary: #3573F0;
    --color-background: #26282B;
    --color-base: #DCE0E4;
}